* {
    margin: 0;
    box-sizing: border-box;
    
    
}

html, body {
    @include default-font;
}
 

a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }



